<h1 class="mt-4">Vasculhador em site</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active">Nova vasculha</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Serviço Prestado salvo com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label> Dominio/Site: </label>
          <input  class="form-control"
                  [(ngModel)]="dominio.dominio" type="text"
                  name="descricao" id="inputDescricao">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-solid fa-chart-bar"></i> Vasculhar</button>

          <button type="button" class="btn btn-danger ml-1"
              routerLink="/clientes/lista" >
            <i class="fa fa-arrow-alt-circle-left"></i> Voltar
          </button>
      </div>
    </div>

  </form>
</div>
