<h1 class="mt-4">Inventor Data Sensetive</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-bitem active">Consulta de dados sensíveis em sites</li>
</ol>
<div class="container">
  <form #consultaForm="ngForm" (submit)="consultar()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Dominio: </label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="dominioSelecionadoId">
            <option value="">Selecione ...</option>
            <option *ngFor="let dominio of dominios"
                    [value]="dominio.id">
              {{ dominio.dominio }}
            </option>
          </select>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <button type="submit" class="btn btn-primary mt-3">
          <i class="fa fa-search"></i> Consultar
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="alert alert-warning" role="alert" *ngIf="message">
      {{ message }}
    </div>
    <div class="col-md-12">
      <table class="table" *ngIf="dadosSensiveis.length > 0">
        <thead>
          <tr>
            <th>Dominio/Site</th>
            <th>Localização (Clique para filtrar)</th>
            <th>Dado Sensível</th>
            <th>Tipo dado Sensível</th>
            <th>Data da Busca</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of dadosSensiveis">
            <td>{{ s.dominio.dominio }}</td>
            <td (click)="consultarDadosSensiveis(s.pathLocation?.id)">
              {{ s.pathLocation?.pathLocation.split('|')[1] }}
            </td>
            <td>{{ s.sensitive }}</td>
            <td>{{ s.tipo }}</td>
            <td>{{ s.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          </tr>
          <!--<div *ngIf="dadosSensiveis">
            <h2>Dados Sensíveis por PathLocation</h2>
            <ul>
              <li *ngFor="let dado of dadosSensiveis">
                <p>Tipo: {{ dado.tipo }}</p>
                <p>Dado Sensível: {{ dado.sensitive }}</p>
                <p>Data de Criação: {{ dado.dataCriacao | date }}</p>
              </li>
            </ul>
          </div>--->
        </tbody>
      </table>
      <div class="alert alert-info" role="alert" *ngIf="dadosSensiveis.length === 0 && !message">
        Não há dados sensíveis para exibir.
      </div>
    </div>
  </div>
</div>


